.paginator {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


.paginator button {
border: none;
  cursor: pointer;
  color: rgb(56, 0, 0);
  padding: 2px 3px;
  border-radius: 10px;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #95eff5 0%, #4e79a1 51%, #8fcded 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  
}


.paginator button:hover {
    background-position: right center;
    transform: scale(1.07);
    
}

.buttonPrev {}

.buttonNext {
    margin-right: 2px;
}