


.paginator {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-left: 20px;
}
.pageNumber {
    padding: 2px;
    border: 1.2px solid grey;
    border-radius: 10px;
    /* border-color:rgb(255, 136, 0); */

}

.selectedPage {
    font-weight: bold;
    border-color: black;
}

.paginator button {
    border-radius: 8px;
 
}

.paginator button:hover {
    transform: scale(1.01);
}

.buttonPrev {
    
}

.buttonNext {
   margin-right: 20px;
}
