.usersBlock {
    display: grid;
    text-align: center;
    margin: 50px 0 0 80px;
    /* align-items: center; */
    grid-template-columns: 295px 295px 290px;
    grid-template-rows: 180px 180px 180px 180px 180px 
    
}
