.userPhoto {
    width: 80px;
    height: 80px;
    color: rgba(49, 114, 98, 0.924);
}


.usersBlock {
    display: grid;
    text-align: center;
    margin: 50px 0 0 80px;
    /* align-items: center; */
    grid-template-columns: 295px 295px 290px;
    grid-template-rows: 180px 180px 180px 180px 180px 
    
}

.userBlock {
  width: 200px;
}

  .gradientButton {
    border: none;
    outline: none;
    cursor: pointer;
    font: small;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 3px 2px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }
  .gradientButton:hover {
    background-position: right center;
  }