.header {
    grid-area: h;
  background: #001529;
  /* background-color:rgb(3, 3, 3) */
}

.header div {
  float: right;
  color: aqua;
}

.header a {
  /* margin-top: 0px; */
  margin-right: 5px;
}


.header button {
  border: none;
  font-size: medium;
  outline: none;
  cursor: pointer;
  color: #8221baed;
  background-color: #001529;
  /* font: inherit; */
}