.nav {
    grid-area: n;
    /* background: #05427a; */
    background: rgba(101,108,133,.8);
    /* background: rgba(101,108,133,.8); */
    padding: 15px;
    width: 170px;
    
  }

  a{
    color: white;
    /* color: #1890ff; */
    text-decoration: none;
    margin-left: 3px;
  }
  
  .item a.active  {
    color: gold;
  }
  
  .item:hover {
    transform: scale(1.03);
  
  }