.nav {
  grid-area: n;
  background: rgba(101, 108, 133, .8);
  padding: 15px;
  /* width: 170px; */

}

.nav a {
  font-size: large;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  margin-left: 3px;
}

.nav a:active {
  color: #8498db;
}

.item:hover {
  transform: scale(1.03);

}