.item {
  color: rgb(62, 97, 10);
  
}

.item img {
	
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border:  2px ridge #4288ae
}

.item button {
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
}