
body {
  background: #d6eaf8;
  /* background: #aaeee3; */
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  min-height: 620px;
  grid-template-areas: "h h" "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  /* background-color: rgb(30, 195, 210); */
  background-color: #e9faff;
  /* background-color: #FAEBD7; */
}


.ant-select-selector {
 background-image: linear-gradient(to right, #bbf3f7a7 0%, #4e79a195 51%, #8fceed9e 100%);
  letter-spacing: 1px;
 background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;   
}
